/*------------------------------------------------------------------
    File Name: colors1.css
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    color theme
-------------------------------------------------------------------*/

.header_top,
#navbar_menu ul ul li a:hover,
#navbar_menu ul ul li a:focus,
.full_slider_inner,
.bg_load,
.theme_color_bg,
.price_table_active .price_head,
a.btn.dark_gray_bt:hover,
a.btn.dark_gray_bt:focus,
.carousel-indicators .active,
.social_icon_style_2 ul li a:hover,
.social_icon_style_2 ul li a:focus,
.progress-bar,
.tags a:hover,
.tags a:focus,
.testimonial_slider .carousel-control:hover,
.testimonial_slider .carousel-control:focus,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.icon_feature {
    background-size: 100% 100%;
    border: none;
}

.theme_bg {
	background: #039ee3;
}

#navbar_menu > ul > li a.active,
#navbar_menu > ul > li:hover > a,
#navbar_menu > ul > li:focus > a,
footer p a:hover,footer p a:focus,
.footer-menu li a:hover,
.footer-menu li a:focus,
footer ul.social_icons li a:hover,
footer ul.social_icons li a:focus,
.breadcrumb li a {
    color: #039ee3;
}

.btn.sqaure_bt {
    border-radius: 0;
    background: #039ee3;
}

.btn.sqaure_bt span {
    font-size: 31px;
    font-weight: 400;
    position: absolute;
    right: 16px;
}

footer h2::after,
.footer_mail-section .field button.button_custom,
.cprt,.contact_us_section {
	background: #039ee3;
}

.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-0 {
    background: #039ee3 !important;
}

a.btn.main_bt,
button.btn.main_bt {
	background: #17a5e9;
	border: none;
}

a.btn.main_bt:hover,
a.btn.main_bt:focus,
button.btn.main_bt:hover,
button.btn.main_bt:focus {
	background: #25d8ed;
	background-size: 100% 100%;
	color: #fff;
}

a.btn.dark_gray_bt:hover,
a.btn.dark_gray_bt:focus {
	color: #fff;
}

a.btn.light_btn,
button.btn.light_btn {
	background: #a864a8;
}

a.btn.light_btn:hover,
a.btn.light_btn:focus button.btn.light_btn:hover,
a.btn.light_btn:focus {
	background: #fff;
	color: #632e62;
	border-color: #fff;
}

.modal-backdrop {
	background-color: rgba(3, 158, 227, .95);
}

#navbar_menu ul ul,
hr.dottad_border,
.social_icon_style_2 ul li a:hover,
.social_icon_style_2 ul li a:focus,
.tags a:hover,
.tags a:focus,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.comment_section,
.boder_dottat_small {
	border-color: #039ee3;
}


.price_table_active a.btn:hover,
.price_table_active a.btn:focus {
	background: #252525;
	color: #fff;
}

.border_dotted_circle:hover,
.border_dotted_circle:focus {
	border-color: #632e62;
}

.btn.light_theme_bt:hover,
.btn.light_theme_bt:focus {
	background: #222;
	color: #fff;
	border: solid #222 1px;
}

.theme_color_bg .border_dotted_circle,
.theme_color_bg .border_dotted_circle:hover,
.theme_color_bg .border_dotted_circle:focus {
	border-color: #fff;
}

button.border_btn_white_border,
a.border_btn_white_border {
	background: transparent;
	border: solid #fff 1px;
}

button.border_btn_white_border:focus,
button.border_btn_white_border:hover,
a.border_btn_white_border:hover,
a.border_btn_white_border:focus {
	background: #fff;
	border: solid #fff 1px;
}

body.light_blue button.btn.white_btn:hover,
body.light_blue a.btn.white_btn:hover,
body.light_blue button.btn.white_btn:focus,
body.light_blue a.btn.white_btn:focus {
	background: #632e62;
	border-color: #632e62;
	color: #fff;
}

button.btn.white_btn, a.btn.white_btn, button.btn.white_btn, a.btn.white_btn {
	color: #111;
	text-transform: none;
	text-shadow: none;
}

button.btn.white_btn:hover, 
a.btn.white_btn:hover, 
button.btn.white_btn:hover, 
a.btn.white_btn:hover {
	color: #fff;
	text-transform: none;
	background: #111;
}

.tp-bannertimer {
    background: #039ee3 !important;
}

.tp-caption.tp-shape.tp-shapewrapper.rs-parallaxlevel-0 {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.homebrowseitems {
	text-decoration:none;
	background-color:#D83C30;
	font-weight:700;
	font-size:15px;
	border:0;
	padding:13px 39px;
	letter-spacing:1px;
	margin-top:-20px;
	display:inline-block;
	color:#fff;
	margin-bottom:0px;
}
.homebrowseitemsicon {
	color:#fff;
	display:inline-block;
	padding:13px 20px;
	margin-top:-13px;
	margin-bottom:-13px;
	margin-right:-39px;
	margin-left:15px;
	background:rgba(0,0,0,0.2);
}
a.homebrowseitems:hover {
	color:#fff;
	opacity: 0.8;
}


.item2 {
	background-image:url(images/expor.jpeg);
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}

.navbar-nav,.navbar>.container .navbar-brand {
	font-family:Dosis;
	text-transform:uppercase;
}
	.text-homeimage {
	text-align:center;
	color:#fff;
	z-index:2;
	position:relative;
	font-size:75px;
	line-height:90px;
	text-transform:uppercase;
	padding-bottom:190px;
	font-weight:700;
	font-family:Dosis;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




 @media all and (max-width: 1000px){

    .cencoex2{

         width:265px;



    }

}
@media all and (max-width: 400px){

    .cencoex2{

        /*width:230px;*/
        display: none !important;


    }

        .boletin{

        width:360px;


    }

       .webinars{

        width:360px;


    }

       .historialwebinars{

        width:350px;


    }

}



